@model IEnumerable<CBLSummerPortfolio07132016.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
}


            <div class="row">
                <div class="col-sm-12">
                    @{
                        var profile = "profile";
                        var styletype = "big-padding";
                        var aboutortwitter = "harddrive";
                        var rightorleft = "scrollimation fade-right";
                        var textcenter = "";
                        var counter = 0;

                        foreach (var item in Model)
                        {
                            if (counter % 2 != 0)
                            {
                                aboutortwitter = "twitter-feeds";
                                rightorleft = "scrollimation fade-left";
                                textcenter = "";
                                styletype = "bg-main-color";
                            }
                            else
                            {
                                profile = "profile";
                                styletype = "big-padding";
                                aboutortwitter = "harddrive";
                                rightorleft = "scrollimation fade-right";
                                textcenter = "";
                            }
                            counter++;



                            <section id="@aboutortwitter" class="@styletype @rightorleft">
                                <div class="container @textcenter ">
                                    <div class="row @profile">
                                        <div class="col-sm-6 col-sm-offset-1" @textcenter>
                                            @{var shortbody = "";

                                                if (item.BodyText.Length >= 139)
                                                {
                                                    shortbody = item.BodyText.Substring(0, 136) + "...";

                                                }
                                                else
                                                {
                                                    shortbody = item.BodyText;
                                                }
                                                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                                                <p>
                                                    @if (item.MediaUrl != null)
                                                    {
                                                        <img class="img-responsive" src="@Url.Content(item.MediaUrl)" alt="" />
                                                    }
                                                </p>
                                                <h3 id="right">
                                                    <a style="font-size: 30px;" href="@Url.Action("Details", new { slug = item.Slug })">
                                                        @Html.Raw(shortbody)<span style="font-size: 12px;">@item.Comments.Count</span>
                                                    <span style="font-size: 12px;"> comments</span>
                                                    </a>
                                                </h3>
                                                <h5><span class="glyphicon glyphicon-time"></span>@Html.DisplayFor(modelItem => item.Created.LocalDateTime)</h5>

                                                if (item.Updated != null)
                                                {
                                                <h5>
                                                    Updated at <span class="glyphicon glyphicon-time"></span>@Html.DisplayFor(modelItem => item.Updated)

                                                </h5>
                                                }

                                                }

</div>
                                    </div>

                                </div>
                            </section>
                                                }
                    }

                </div>

            </div>









